// This is where you can import other stylesheets or write your scss code

// ? variables start
// (scss-docs-start theme-color-variables)
$primary: #182e37 !default;
$secondary: #000 !default;
$light: #bcc7ce !default;
$dark: #1c1f24 !default;
$hover-background: #083a4c !default;

$gradient-1: linear-gradient(to bottom, $secondary, $primary);
$gradient-2: linear-gradient(to bottom, transparent, $primary);
$gradient-3: linear-gradient(to bottom, $primary, transparent);

$p-container-sm: 3.125rem;
$p-container-md: 6.25rem;
$p-container-lg: 12.5rem;

$letter-spacing: 0.625rem;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
// ? variables end

// ? typography start
@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto/roboto.woff2) format("woff2");
  src: url(../fonts/roboto/roboto.woff) format("woff");
  src: url(../fonts/roboto/roboto.ttf) format("truetype");
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat/montserrat.woff2) format("woff2");
  src: url(../fonts/montserrat/montserrat.woff) format("woff");
  src: url(../fonts/montserrat/montserrat.ttf) format("truetype");
}

@font-face {
  font-family: "rubik";
  src: url(../fonts/rubik/rubik.woff2) format("woff2");
  src: url(../fonts/rubik/rubik.woff) format("woff");
  src: url(../fonts/rubik/rubik.ttf) format("truetype");
}

.h-font {
  font-family: rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.p-font {
  font-family: montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn-font {
  @extend .btn-lg;
  font-family: roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
// ? typography end

// ? padding class start

.pt-container-sm {
  padding-top: $p-container-sm;
}

.pt-container-md {
  padding-top: $p-container-md;
}

.pt-container-lg {
  padding-top: $p-container-lg;
}

.pb-container-md {
  padding-bottom: $p-container-md;
}

.pb-container-lg {
  padding-bottom: $p-container-lg;
}

.bg-gradient-1 {
  background: $gradient-1;
}

.bg-gradient-3 {
  background: $gradient-3;
}
// ? padding class end

// ? header start
header {
  a {
    text-decoration: none;
  }

  .headline {
    @extend .display-1;
    letter-spacing: $letter-spacing;
  }

  .bg-hover:hover {
    background-color: $hover-background !important;
  }

  .bg-gradient-1 {
    background: $gradient-1;

    .bg-img-header {
      background-image: $gradient-2, url("../images/hand-bluelight.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}
// ? header end

// ? main start

.section-1 {
  .bg-img-main {
    background-image: $gradient-3, url("../images/green-leaves.jpg");
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $md) {
      .pt-container-md {
        padding-top: $p-container-lg;
      }
    }
  }

  @media screen and (min-width: $md) {
    .pb-container-md {
      padding-bottom: $p-container-md;
    }
  }

  .p-font,
  .h-font {
    text-shadow: 1px 1px 1px $secondary;
  }
}

.section-2 {
  @media screen and (min-width: $xl) {
    .border-md {
      border-left: 8px solid $primary;
      padding: 0 0 0 2rem;
    }
  }

  .p-font {
    text-shadow: none;
  }
}

.section-3 {
  a {
    text-decoration: none;
  }
  .bg-hover:hover {
    background-color: $hover-background !important;
  }
}

.section-4 {
  @media screen and (min-width: $md) {
    .container {
      height: 600px;
      overflow: hidden;
    }
  }

  @media screen and (min-width: $xl) {
    .container {
      height: 700px;
      overflow: hidden;
    }
  }
  @media screen and (min-width: $xxl) {
    .container {
      height: 800px;
      overflow: hidden;
    }
  }
}

.section-5 {
  img {
    height: 30px;
    width: 30px;
  }

  .house-icon {
    height: 50px;
    width: 50px;
  }

  .card {
    border-bottom: 0.25rem solid $light;
  }
}

// ? main end

@import "../../node_modules/bootstrap/scss/bootstrap";
